/ target /
! .mvn / wrapper / maven-wrapper.jar

# ## STS ###
.apt_generated
.classpath
.factorypath
.projeto
.definições
.springBeans
.sts4-cache

# ## IntelliJ IDEA ###
.ideia
* .iws
* .iml
* .ipr

# ## NetBeans ###
/ nbproject / private /
/ build /
/ nbbuild /
/ dist /
/ nbdist /
/ .nb-gradle /
